from flask import Flask
from threading import Thread
from pyrogram import Client

app_web = Flask(__name__)

@app_web.route('/')
def home():
    return "Bot Running"

def run_web():
    app_web.run(host='0.0.0.0', port=8000)

Thread(target=run_web).start()
bot.run()
